<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BaseDBConnection" providerName="System.Data.SqlClient" connectionString="Data Source=BAOLE\SQLEXPRESS;Initial Catalog=DemoDapperDb;Integrated Security=True;MultipleActiveResultSets=True" />
		<add name="MainDBConnection" providerName="System.Data.SqlClient" connectionString="Data Source=BAOLE\SQLEXPRESS;Initial Catalog=DemoDapperDb;Integrated Security=True;MultipleActiveResultSets=True" />
	</connectionStrings>
</configuration>